flipmart/flipmart/settings/dev.py
*.py[co]
.idea/
.coverage
build/
build.py
build
*.db
db/
test_db/
media/*
flipmart/media/*
assets/*
flipmart/assets/*
.idea/*
.templates/
.templates
CACHE
CACHE/*
htmlcov/
.env
.flake8

